*
{
    font-family: "Noto Sans Mono", monospace;
    color: #ffffff;
}

html
{
    font-size: 1.15em;
    position: relative;
    min-height: 100%;
}

body 
{
	margin: 0;
	background-color: #222222;
    height: 100%;
}

h1
{
    font-size: 2rem;
}

h2
{
    font-size: 1.75rem;
}

h3
{
    font-size: 1.5rem;
}

h4
{
    font-size: 1.25rem;
}

h5
{
    font-size: 1rem;
}

h6
{
    font-size: 1rem;
}

p, 
body,
div
{
    font-size: 1rem;
}

a
{
    color: cyan;
    text-decoration: none;
}

a:visited
{
	color: cyan;
}

a:hover
{
    color: cyan;
    text-decoration: underline;
}