.header,
.headerTitle
{
    color: #222222;
    font-size: 1rem;
}

.headerButton a
{
    padding: 1.0875rem 0.75rem;
   
    color: #222222;
    text-decoration: none;
}

.headerButton a:hover
{
    background-color: #222222;
    color: #ffffff;
    
}

.headerButton a:active
{
    font-weight: bold;
}

.headerTitle
{
    font-size: 1rem;
    font-weight: bold;
    word-break: break-word;
}