.background
{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;

    height: 100%;
    width: 100%;

    background-image: url('../../static/KING_Icon-Plain-black.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    opacity: 0.1;
    z-index: -1;
}