.project
{
    clear: both;
    border-bottom: #333333 0.1rem solid;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

.project:last-child
{
    border-bottom: none;
}

.title
{
    font-size: 1.75rem;
}

.title a
{
    color: #ffffff;
}

.title a:hover,
.info div a:hover,
.logistics div a:hover
{
    color: cyan;
}

.info, .logistics
{
    margin-bottom: 0.5rem;
}

.info div, 
.logistics div,
.logistics div span,
.logistics div a,
.info div a,
.info div i
{
    font-size: 0.75rem;
    color: #aaaaaa;
}

.imageContainer
{
    width: 10rem;
    height: 10rem;

    display: flex;
    align-items: center;
}

.image
{
    height: auto;
    width: 100%;

    float: right;
}